In [ ]:
a,b=5,10
print (a<b)
print (b==a)
print (a<b|b==a)

True
False
False

In [ ]:
a,b=5,10
print (a<b|b==a)
print (a<b)

False
True

In [ ]:
creditscore=int(input("enter credit score"))
if(creditscore<=1000):
  if(creditscore>800):
     print ("more benefits for housing loan")
  elif(creditscore>700&799<creditscore):
     print("Better rates on car insurance")
  elif(creditscore>600&699<creditscore):
     print ("approval for higher credit limit")
  elif(creditscore>500&599<creditscore):
     print ("more benefits for utility services")
  elif(creditscore>400&499<creditscore):
     print ("options for better credit mix")
else:
   print ("not valid")

enter credit score1099
not valid

In [ ]:
x=0
while(x<5):
  print (x)
  x+=1

0
1
2
3
4

In [ ]:
i=1
while i<6:
  print (i)
  if(i==3):
    break
  i+=1

1
2
3

In [ ]:
n=1
while n>=1:
 print (n)
 n=n+1
 if n==100:
   break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
n=int(input('enter the no'))
while n!=0:
  print(n)
  n-=1

enter the no77
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
n=int(input ('enter the number '))
if(n==0 or n<10):
  print ("value is either '0'or greater than '10'")
else:
  while n>=15:
   print (n)
   n-=1

enter the number 20
20
19
18
17
16
15

In [ ]:
x=int(input ('enter the value '))
if (x<=10):
 print ('tea')
else:
 while x<=20:
  print('coffee')
  x=x+1

enter the value 17
coffee
coffee
coffee
coffee

In [ ]:
number=int(input('enter any no between 100 to 500'))
while number<100 or number>500:
  print ('incorrect number,enter correct number ')
  number=int(input('enter no between 100 and 500'))
else:
  print ('given no is correct ',number)

enter any no between 100 to 5002000
incorrect number,enter correct number
enter no between 100 and 500400
given no is correct  400

In [ ]:
for i in range(4500,4700,7):
  print (i)
  i=7

4500
4507
4514
4521
4528
4535
4542
4549
4556
4563
4570
4577
4584
4591
4598
4605
4612
4619
4626
4633
4640
4647
4654
4661
4668
4675
4682
4689
4696

In [ ]:

for x in range (100,200):
    if(x%3==0):
       print (x)

102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198

In [1]:
n=1
while n<=10:
  print (n,'*',5,'=',n*5)
  n=n+1

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [ ]:
n=1
for i in range(2,20,2):
 print (n,'*',2,'=',i)
 n=n+1

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18

In [2]:
n=int(input ('enter any no'))
x=0
for i in range (n+1):
  x=x+i
print ("sum of all numbers from 1 to given number is:",x)

enter any no44
sum of all numbers from 1 to given number is: 990

In [ ]:
n=int(input ("enter a no:"))
count=0
while(n>0):
  count=count+1
  n=n//10
print ("the ....are:", count)

enter a no:12345
the ....are: 5

In [ ]:
x=5439
n=x//10
print (n)

543

In [ ]:
n=int(input ('enter any no'))
count=0
while(n>0):
  count=count+1
  n=n//10
print ('the no of digits are:', count)

enter any no12345
the no of digits are: 5

In [4]:
str=input ('enter a string:')
vowels=0
for i in str:
  if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
    vowels=vowels+1
print ('no of vowels are:',vowels)

enter a string:purplecolour
no of vowels are: 5